[tweet]
username =
password =

[plurk]
username =
password =

[jaiku]
username =
apikey =

[bitly]
login =
apikey =

[facebook]
apikey =
secretkey =
sessionkey =
secret =

[tumblr]
blog =
email =
password =
